main {
    display: grid;
    grid: repeat(2, fit-content(100%)) / 300px 1fr;
}

#products_div {
    display: grid;
    grid: repeat(4, fit-content(100%)) / repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.product_div {
    width: 100%;
    height: 200px;
    background: #fcfdf6;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px grey;
    display: grid;
    grid: repeat(3, fit-content(100%)) / fit-content(100%) 1fr fit-content(100%);
    grid-template-areas: "pic head cost"
                        "pic desc cost"
                        "pic button button";
}

.product_img {
    height: 180px;
    margin: 10px;
    grid-area: pic;
}

.product_cost {
    white-space: nowrap;
    margin: 10px;
    font-size: 2rem;
    grid-area: cost;
}

.product_div_button {
    display: flex;
    flex-flow: row nowrap;
    grid-area: button;
    justify-self: end;
    align-self: end;
    margin: 10px;
}

.product_buy_button {
    width: 150px;
    height: 30px;

    /*padding: 2px 50px;*/
}

.product_basket_button {
    /*border-radius: 8px;*/
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.product_head {
    grid-area: head;
}

.product_desc {
    grid-area: desc;
}

#filters_div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > * {
        margin-bottom: 10px;
    }
}

#confirm_filter_button {
    padding: 5px 10px;
    width: 150px;
}

#cost_filter {
    > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 5px;
        > label {
            width: 1.8rem;
        }

        > input {
            margin-right: 5px;
            margin-left: 5px;
        }

        > span {
            margin-right: 5px;
        }
    }
}

#catalog {
    grid-column: 2 span;
    height: initial;
}