nav {
    flex-direction: row-reverse;
    outline: none;
    flex-grow: 1;

    > label {
        display: block;
        margin-right: 20px;
        right: 20px;
        font-size: 50px;
        transition: transform 400ms;
    }

    > label::before {
        content: '☰';
    }
}

#header_head {
    font-size: 1rem;
}

#nav_menu_button:checked {
    + label {
        transform: rotate(90deg);

    }
    + label + ul.nav_list {
        opacity: 1;
        visibility: visible;
    }
}

ul.nav_list {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-flow: column;

    width: 100%;
    height: fit-content;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    transition: opacity 400ms, visibility 0s;

    border-radius: 45px;

    > li {
        display: block;
        opacity: 0.95;
        height: fit-content;

        & a {
            height: 10vh;
            box-shadow: 5px 5px 8px grey;
        }

    }

    :first-child > a {
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 0;
    }

    :last-child > a {
        border-bottom-right-radius: 45px;
        border-bottom-left-radius: 45px;
        border-top-right-radius: 0;
    }
}

#shop_info {
    > div > div {
        width: 75vw;
        & iframe {
            width: 75vw;
            height: 100vw;
        }
        & video {
            height: fit-content;
            width: 75vw;
        }
    }
}

#pic_div {
    & img, & aside {
        width: 80vw;
    }
    & * {
        margin: 5px auto;
    }

    & img {
        height: 110vw;
    }

    > a > img {
        height: 45vw;
    }
}
#photo_div {
    & img, & div {
        width: 80vw;
        margin: 5px auto;
    }
}

#crash_div:hover::before {
    box-shadow: 0 -85vw 85vw #77ff61 inset;
}